body{
    background-color: #E8EDF2;
}


.side-nav{
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    background: rgba(85, 85, 85, 0.2);
    backdrop-filter: blur(5px);
    transition: width 0.5s;
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    font-size: 25px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.user-infor{
    display: none;
}
.user span{
    font-size: 30px;
    font-weight: 600;
}
.user img{
    width: 5rem;
    border-radius: 50%;
}


ul{
    list-style: none;
    padding: 0 15px;
}
ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Thay đổi thành space-between để căn phải và trái */
    cursor: pointer;
}
ul li img{
    width: 45px;
    margin-right: 10px;
}
ul span{
    white-space: nowrap;
    display: none;
    margin-left: auto; 
}

a{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}
.side-nav:hover{
    width: 250px;
}
.side-nav:hover .user-infor{
    display: block;
}
.side-nav:hover .user{
    width: 90%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}
.side-nav:hover .user img{
    margin: 0;
}
.side-nav:hover ul li span, .side-nav:hover a{
    display: flex;
    justify-content: flex-start;
}

li:hover{
    font-size: 20px;
    transition: all 0.2s;
}

/* ////////////   BODY  //////////////////////////////// */

.container-body{
    margin-left: 132px;
    text-align: center;
}

